.swiper {
    width: 950px;

    &-pagination-bullet {
        height: 7px;
        width: 26px;

        border-radius: 25px;

        background-color: #7d2ae8;
    }

    &-button {
        &-next,
        &-prev {
            opacity: 0.7;
            color: #7d2ae8;

            &:hover {
                opacity: 1;
            }
        }
    }
}